.button .title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 30px;
  background: none;
  text-align: center;
  font-weight: bold;
  overflow: visible;
  white-space: nowrap;
  line-height: 1.8;
  font-size: 1.875em;
  font-family: "Lubalin Graph", Arial, Verdana, sans-serif;
}

.button {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  /* display: table-cell; */
  vertical-align: middle;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.button .polygon {
  pointer-events: all;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
